@page
@model HowdyNeighbor.Pages.Search.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SearchList[0].OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchList[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchList[0].SchoolImportance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchList[0].CrimeImportance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchList[0].TrafficImportance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchList[0].AgeImportance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchList[0].PointsOfInterestImportance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SearchList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolImportance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrimeImportance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrafficImportance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeImportance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsOfInterestImportance)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
