@page
@model HowdyNeighbor.Pages.MovingListModel
@{
    ViewData["Title"] = "Moving Checklist";
}

<style>
    table {
        border: 1px solid slategray;
        background-color: #ECFCFD;
        table-layout: auto;
        box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.25);
    }

    tr {
        width: 960px;
    }

    td {
        border-top: 1px solid slategray;
        border-bottom: 1px solid slategray;
        padding: 10px;
        width: 240px;
    }
</style>

<h2>@ViewData["Title"]</h2>
<p>View a moving checklist that you have saved. Select pre-defined tasks from the list, or add custom tasks.</p>

<div style="background-color: #CADCE6; padding: 2%; border: 1px solid slategray; border-radius: 4px; box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.25);">
    <h3>Today</h3>
    <table class="my-border" style="background-color:#ECFCFD; ">
        <thead>
            <tr>
                <th style="padding: 10px">Status</th>
                <th style="padding: 10px">Task</th>
                <th style="padding: 10px">Date</th>
                <th style="padding: 10px">Edit</th>
                <th style="padding: 10px">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChecklistTasks)
            {
                <tr>
                    @if (item.Date <= DateTime.Now)
                    {
                        if (item.IsComplete)
                        {
                            <td style="padding: 10px">Complete</td>
                            <td style="text-decoration: line-through;">@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        else
                        {
                            <td style="padding: 10px">Incomplete</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        <td><span style="color: lightslategray"><i>@Html.DisplayFor(modelItem => item.Date)</i></span></td>
                        <td><a asp-page="./EditTask" asp-route-id="@item.ID">Edit</a></td>
                        <td><a asp-page="./DeleteTask" asp-route-id="@item.ID">Delete</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />

    <h3>Tomorrow</h3>
    <table class="my-border" style="background-color:#ECFCFD; ">
        <thead>
            <tr>
                <th style="padding: 10px">Status</th>
                <th style="padding: 10px">Task</th>
                <th style="padding: 10px">Date</th>
                <th style="padding: 10px">Edit</th>
                <th style="padding: 10px">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChecklistTasks)
            {
                <tr>
                    @if (item.Date <= DateTime.Now.AddDays(1) && item.Date > DateTime.Now)
                    {
                        if (item.IsComplete)
                        {
                            <td style="padding: 10px">Complete</td>
                            <td style="text-decoration: line-through;">@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        else
                        {
                            <td style="padding: 10px">Incomplete</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        <td><span style="color: lightslategray"><i>@Html.DisplayFor(modelItem => item.Date)</i></span></td>
                        <td><a asp-page="./EditTask" asp-route-id="@item.ID">Edit</a></td>
                        <td><a asp-page="./DeleteTask" asp-route-id="@item.ID">Delete</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />

    <h3>Later This Week</h3>
    <table class="my-border" style="background-color:#ECFCFD; ">
        <thead>
            <tr>
                <th style="padding: 10px">Status</th>
                <th style="padding: 10px">Task</th>
                <th style="padding: 10px">Date</th>
                <th style="padding: 10px">Edit</th>
                <th style="padding: 10px">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChecklistTasks)
            {
                <tr>
                    @if (item.Date <= DateTime.Now.AddDays(7) && item.Date > DateTime.Now.AddDays(1))
                    {
                        if (item.IsComplete)
                        {
                            <td style="padding: 10px">Complete</td>
                            <td style="text-decoration: line-through;">@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        else
                        {
                            <td style="padding: 10px">Incomplete</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        <td><span style="color: lightslategray"><i>@Html.DisplayFor(modelItem => item.Date)</i></span></td>
                        <td><a asp-page="./EditTask" asp-route-id="@item.ID">Edit</a></td>
                        <td><a asp-page="./DeleteTask" asp-route-id="@item.ID">Delete</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />

    <h3>Next Few Weeks</h3>
    <table class="my-border" style="background-color:#ECFCFD; ">
        <thead>
            <tr>
                <th style="padding: 10px">Status</th>
                <th style="padding: 10px">Task</th>
                <th style="padding: 10px">Date</th>
                <th style="padding: 10px">Edit</th>
                <th style="padding: 10px">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChecklistTasks)
            {
                <tr>
                    @if (item.Date <= DateTime.Now.AddDays(30) && item.Date > DateTime.Now.AddDays(7))
                    {
                        if (item.IsComplete)
                        {
                            <td style="padding: 10px">Complete</td>
                            <td style="text-decoration: line-through;">@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        else
                        {
                            <td style="padding: 10px">Incomplete</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        <td><span style="color: lightslategray"><i>@Html.DisplayFor(modelItem => item.Date)</i></span></td>
                        <td><a asp-page="./EditTask" asp-route-id="@item.ID">Edit</a></td>
                        <td><a asp-page="./DeleteTask" asp-route-id="@item.ID">Delete</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />

    <h3>Later This Year</h3>
    <table class="my-border" style="background-color:#ECFCFD; ">
        <thead>
            <tr>
                <th style="padding: 10px">Status</th>
                <th style="padding: 10px">Task</th>
                <th style="padding: 10px">Date</th>
                <th style="padding: 10px">Edit</th>
                <th style="padding: 10px">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChecklistTasks)
            {
                <tr>
                    @if (item.Date > DateTime.Now.AddDays(30))
                    {
                        if (item.IsComplete)
                        {
                            <td style="padding: 10px">Complete</td>
                            <td style="text-decoration: line-through;">@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        else
                        {
                            <td style="padding: 10px">Incomplete</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        }
                        <td><span style="color: lightslategray"><i>@Html.DisplayFor(modelItem => item.Date)</i></span></td>
                        <td><a asp-page="./EditTask" asp-route-id="@item.ID">Edit</a></td>
                        <td><a asp-page="./DeleteTask" asp-route-id="@item.ID">Delete</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />

    <button><a asp-page="AddTask">Add a Custom Task</a></button>
    <br />
    <br />

    <form method="post">
        <select asp-for="ChecklistTask.Description">
            <optgroup label="Shipping">
                <option value="Collect boxes for household items">Collect boxes for household items</option>
                <option value="Contact moving company">Contact moving company</option>
            </optgroup>
            <optgroup label="Pets">
                <option value="Contact local veterinarian's office">Contact local veterinarian's office</option>
                <option value="Research local laws / homeowner's association policies for pets">Research local laws / homeowner's association policies for pets</option>
                <option value="Transfer pet medications to new veterinarian's office">Transfer pet medications to new veterinarian's office</option>
                <option value="Look into local dog parks, pet stores, etc.">Look into local dog parks, pet stores, etc.</option>
            </optgroup>
            <optgroup label="Voting">
                <option value="Update voter registration address">Update voter registration address</option>
                <option value="Research residency requirements for voting">Research residency requirements for voting</option>
            </optgroup>
            <optgroup label="Health">
                <option value="Transfer perscriptions to new pharmacy">Transfer perscriptions to new pharmacy</option>
                <option value="Contact local doctor's office">Contact local doctor's office</option>
                <option value="Contact local dentist's office">Contact local dentist's office</option>
            </optgroup>
            <optgroup label="Neighborhood">
                <option value="Contact homeowner's association">Contact homeowner's association</option>
                <option value="Contact neighbors">Contact neighbors</option>
                <option value="Contact local newspaper delivery service">Contact local newspaper delivery service</option>
            </optgroup>
            <optgroup label="School">
                <option value="Contact local school district">Contact local school district</option>
            </optgroup>
        </select>
        <input asp-for="ChecklistTask.Date" type="date" />
        <button type="submit">Add a Premade Task</button>
    </form>
</div>